*{
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  color: #EAEBED;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #EAEBED;
  background-color: #EAEBED;
}

.main-body{
  margin-top: 150px;
  margin-left: 6%;
  margin-right: 6%;
}

.top-nav {
  margin: 0%;
  padding: 20px;
  background-color:#339476 ;
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px #339476;
  overflow: hidden;
  position: fixed;
  top: 0%;
}

.sub-head{
  font-weight: 400;
}

.search{
  width: 45%;
  height: 35px;
  border:#21605d;
  border-radius: 17.5px;
  border-style: solid;
  font-family: 'Poppins','sans-serif';
  font-weight: 400;
  font-size: 17px;
  color: #EAEBED;
  background-color:#339476;
}

input[type="text"]::placeholder {  
  padding-left: 20px; 
  color: #EAEBED;
}

input[type="text"]:focus {  
  background-color:#21605d;
}


input{
  padding-left: 20px;
}

input:focus {
  outline:none  !important;
}

.nav-menu{
  list-style-type: none;
  display: flex;
}

.nav-menu li{
  margin: 5px;
}

.nav-menu li:hover{
  text-decoration: underline;
  transition: 0.3s;
  text-decoration-color:#339476;
  text-decoration-thickness: 3px ;
  text-underline-offset: 3px; 
}

.home-head{
  background-color: #21605d;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  
}

.home-head h2{
  font-size: 75px;
}

.home-head h5{
  font-size: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card-body{
  background-color: #21605d;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 12px;
  width: 20%;
  margin: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.card-image{
  height: 50%;
  width: 100%;
}

.card-texts{
  width: 100%;
  height: 50%;
  margin: 8px;
  padding: 3px;
}

.article{
  width: 100%;
  justify-self: center;
}

.heading{
  background-color: #21605d;
  width: max-content;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-2{
  background-color: #21605d;
  width: max-content;
  padding: 20px;
  border-radius: 12px;
}

.heading h2{
  margin: 20px;
  font-size: 40px;
}

.article-image{
  max-width: 400px;
  max-height: 400px;
}

.top{
  display: flex;
  justify-content: center;
}

.article p{
  background-color: #21605d;
  padding: 20px;
  flex-wrap: wrap;
  margin: 30px;
  font-size: 25px;
  border-radius: 12px;
}

.signing-center{
  display: flex;
  justify-content: center;
}

.signing{
  text-align: center;
  max-width: max-content;
  background-color: #21605d;
  padding: 30px;
  margin: 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #21605d;
}

.signing form{
  display: flex;
  flex-direction: column  ;
}

.signing h1{
  margin-bottom: 20px;
  font-size: 40px;
}

.user-input{
  margin: 10px;
}

.user-input label{
  position: relative;
}

.user-input input{
  width: 100%;
  background-color: #EAEBED;
  padding-left: 10px;
  color: black;
  font-family: 'Poppins';
  height: 30px;
  border: none;
  border-radius: 12px;
}

.user-input input:focus{
  background-color: #87E1C7;
  transition: 0.3s;
}

.submit{
  width: 100px;
  text-align: center;
  height: 30px;
  border: none;
  border-radius: 12px;
  font-family: 'Poppins';
  color: #EAEBED;
  background-color: #87E1C7;  
  font-size: 20px;
  font-weight: 500;
}


.submit-button{
  display: flex;
  justify-content: center;
}

.admin-panel{
  width: 100%;
  background-color: #21605d;
  padding: 20px;
  margin-top: 20px;  
  border: none;
  border-radius: 12px;
}

.admin-panel h2{
  margin: 10px;
}

.para-input input{
  width: 95%;
  border: none;
  border-radius: 12px;
  height: auto;
  min-height: 40px;
  font-family: 'Poppins';
  color: black;
}

.title-input input{
  border: none;
  border-radius: 12px;
  min-height: 40px;
  height: auto;
  width: auto;
  min-width: 200px;
  font-family: 'Poppins';
  color: black;
}

.title-input input:focus{
  background-color: #fff;
}

.para-input input:focus{
  background-color: #fff;
}

.new-article-button{
  margin: 10px;
  width: 20%;
  height: 40px;
  background-color: #87E1C7;
  font-family: 'Poppins';
  font-weight: 500;
  border: none;
  border-radius: 12px;
  font-size: 20px;
}



